<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all objects from the table</title>
</head>
<body>
    <div th:each="object:${table}">
        <span th:text="*{object.toString()}"></span>
        <br>
        <a th:href="@{/admin/{name}/{id}/edit(id=${object.getId()},name = ${object.getModelName().toString()})}">edit</a>
        <a th:href="@{/admin/{name}/{id}/delete(id = ${object.getId()},name = ${object.getModelName().toString()})}">delete</a>
    </div>
    <a th:href="@{/admin/{name}/new(name = ${model.toString()})}">NEW</a>

</body>
</html>