<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Caviar description</title>
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/index.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/catalog.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/product-description.css}">
</head>
<body>
<nav class="menu">
  <a href="/index">Главная </a> | <a href="/catalog">Каталог</a> | <a href="/sights">Достопримечательности</a>
</nav>

<div class="content">
    <h2>Икра белуги</h2>
    <a href="/images/caviar.jpg" target="_blank" ><img src = "/images/caviar.jpg"></a>
    <h3>Описание товара</h3>
    <p>
        <span class="description">
            Астраханская чёрная икра с непревзойденным вкусом, зернистая.
            Обладает плотной текстурой зерна и довольно крупными икринками.
            Кремовая текстура и изысканное долгое послевкусие не оставят Вас равнодушными.
        </span>
    </p>
    <h3>Характеристика</h3>
    <ul>
        <li>
            Состав: икра осетра, соль
        <li>
            Консервант: без консервантов
        </li>
        <li>
            Степень солености: малосольная (3-3,5%)
        </li>
        <li>
            Метод получения: дойная
        </li>
    </ul>

</div>

<div class="footer">
    <span>
        &copy;все права защищены
    </span>
</div>
</body>
</html>