<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ushanka hat Description</title>
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/index.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/catalog.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/product-description.css}">

</head>
<body>
<nav class="menu">
  <a href="/index">Главная </a> | <a href="/catalog">Каталог товаров</a> | <a href="/sights">Достопримечательности</a>
</nav>

<div class="content">
    <h2>Шапка-ушанка</h2>
    <a href="/images/ushanka.jpg" target="_blank" ><img src = "/images/ushanka.jpg"></a>
    <h3>Описание товара</h3>
    <p>
        <span class="description">
            Утепленная шапка выполнена из текстиля.
            Детали: синтетический утеплитель, подкладка из искусственного меха
        </span>
    </p>
    <h3>Характеристика</h3>
    <ul>
        <li>
            Состав: Полиэстер - 100%
        </li>
        <li>
            Материал подкладки: Полиэстер - 100%
        </li>
        <li>
            Сезон: демисезон, зима
        </li>
        <li>
            Узор: однотонный
        </li>
    </ul>

</div>

<div class="footer">
    <span>
        &copy;все права защищены
    </span>
</div>

</body>
</html>