<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Valenki Description</title>
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/index.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/catalog.css}">
    <link href="" type="text/css" rel="styleSheet" th:href="@{/css/product-description.css}">
</head>
<body>
<nav class="menu">
  <a href="/index">Главная </a> | <a href="/catalog">Каталог товаров</a> | <a href="/sights">Достопримечательности</a>
</nav>
<div class="content">
    <h2>Валенки</h2>
    <a href="/images/valenki.jpg" target="_blank" ><img src = "/images/valenki.jpg"></a>
    <h3>Описание товара</h3>
    <p>
        <span class="description">
            Теплые и надёжные русские валенки станут неотъемлимым зимним атрибутом вашего образа.
            Сочетать валенки можно с великим многообразмем одежды, начиная от пальто, заканчивая классическимми куртками.
        </span>
    </p>
    <h3>Характеристика</h3>
    <ul>
        <li>
            Материал верха: войлок, натуральная кожа
        </li>
        <li>
            Внутренний материал: шерсть
        </li>
        <li>
            Материал подошвы: термоэластопласт
        </li>
        <li>
            Материал стельки: шерсть
        </li>
    </ul>

</div>

<div class="footer">
    <span>
        &copy;все права защищены
    </span>
</div>

</body>
</html>